@page
@model Projekt.NET_CORE.Pages.ViewTraces.IndexModel
@{
}
</br>
<div>

</div>
<div class="container row p-0 m-0">
    <h1>Moje trasy</h1> 
</div>
</br>
<div>
    <form method="post">
        @if (Model.Traces.Count() == 0)
        {
            <div class="container row text-center">
                <div class="m-1 col-3">
                    <a class="btn btn-primary form-control text-center text-white" asp-page="Add">Dodaj nową trasę</a>
                </div>
            </div>
        }
        </br>
        <div class="container row p-0 m-0 col-12">
            @if (Model.Traces.Count() == 0)
            {
                <div class="row col-12 alert alert-danger" role="alert">
                    Wygląda na to, że w bazie nie posiadasz jeszcze ani jednej trasy :(
                </div>
            }
            else
            {
                <table class="table table-bordered table-striped text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th class="align-middle">Nazwa trasy</th>
                            <th class="align-middle">Początek trasy</th>
                            <th class="align-middle">Koniec trasy</th>
                            <th class="align-middle">Data utworzenia</th>
                            <th colspan="2">
                                <a class="btn btn-primary form-control text-center text-white" asp-page="Add">Dodaj nową trasę</a>
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.Traces)
                    {
                        string day = item.Date.Day.ToString();
                        string month = item.Date.Day.ToString();
                        if (item.Date.Day < 10)
                        {
                            day = "0" + item.Date.Day;
                        }
                        else
                        if (item.Date.Month < 10)
                        {
                            month = "0" + item.Date.Month;
                        }

                        string date = day + "." + month + "." + item.Date.Year;
                        <tr>
                            <td class="align-middle">@Html.DisplayFor(m => item.TraceName)</td>
                            <td class="align-middle">@Html.DisplayFor(m => item.TraceStart)</td>
                            <td class="align-middle">@Html.DisplayFor(m => item.TraceEnd)</td>
                            <td class="align-middle">@date</td>
                            <td class="align-middle">
                                <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Czy na pewno chcesz usunąć trasę ?')" class=" p-1 btn btn-danger form-control text-center text-white">Usuń trasę</button>
                            </td>
                            <td class="align-middle">
                                <a class=" p-1 btn btn-success form-control text-center text-white" asp-page="Show/OpenStreetMap">Zobacz trasę na mapie</a>
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </form>
</div>

